<form
  #thoughtForm="ngForm"
  (ngSubmit)="anotherThought(thoughtForm, togglForm())"
>
  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Title" ngModel />
  <label for="thought">Thought</label>
  <input type="text" name="thought" id="thought" ngModel />
  <button id="addPost" type="submit">Add Post</button>
</form>
<!-- ngIf="!showForm" -->
<!-- (click)="togglForm()" -->
<!-- 
<form #bookForm="ngForm" (ngSubmit)="addBook(bookForm)">
  <input type="text" name="title" id="title" placeholder="Title" ngModel />
  <input type="text" name="author" id="author" placeholder="Author" ngModel />
  <button>Add a new book</button>
</form> -->
